@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.retro {
  font-family:
    "Press Start 2P",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
:root {
  --background: oklch(0.9711 0.0404 173.3182);
  --foreground: oklch(0.2073 0.0705 142.4953);
  --card: oklch(0.9711 0.0404 173.3182);
  --card-foreground: oklch(0.2073 0.0705 142.4953);
  --popover: oklch(0.9711 0.0404 173.3182);
  --popover-foreground: oklch(0.2073 0.0705 142.4953);
  --primary: oklch(0.7283 0.1934 149.5493);
  --primary-foreground: oklch(0.2073 0.0705 142.4953);
  --secondary: oklch(0.7283 0.1934 149.5493);
  --secondary-foreground: oklch(0.2073 0.0705 142.4953);
  --muted: oklch(0.9711 0.0404 173.3182);
  --muted-foreground: oklch(0.2073 0.0705 142.4953);
  --accent: oklch(0.3219 0.1095 142.4953);
  --accent-foreground: oklch(0.7283 0.1934 149.5493);
  --destructive: oklch(0.5636 0.2313 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4145 0.1410 142.4953);
  --input: oklch(0.4145 0.1410 142.4953);
  --ring: oklch(0.9711 0.0404 173.3182);
  --chart-1: oklch(0.7283 0.1934 149.5493);
  --chart-2: oklch(0.3219 0.1095 142.4953);
  --chart-3: oklch(0.5894 0.1616 148.9701);
  --chart-4: oklch(0.4973 0.1032 152.7749);
  --chart-5: oklch(0.1773 0.0089 264.3183);
  --sidebar: oklch(0.9711 0.0404 173.3182);
  --sidebar-foreground: oklch(0.2073 0.0705 142.4953);
  --sidebar-primary: oklch(0.7283 0.1934 149.5493);
  --sidebar-primary-foreground: oklch(0.2073 0.0705 142.4953);
  --sidebar-accent: oklch(0.5737 0.0997 167.0673);
  --sidebar-accent-foreground: oklch(0.2073 0.0705 142.4953);
  --sidebar-border: oklch(0.4145 0.1410 142.4953);
  --sidebar-ring: oklch(0.7283 0.1934 149.5493);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2073 0.0705 142.4953);
  --foreground: oklch(0.7283 0.1934 149.5493);
  --card: oklch(0.2073 0.0705 142.4953);
  --card-foreground: oklch(0.7283 0.1934 149.5493);
  --popover: oklch(0.2073 0.0705 142.4953);
  --popover-foreground: oklch(0.7283 0.1934 149.5493);
  --primary: oklch(0.7283 0.1934 149.5493);
  --primary-foreground: oklch(0.2073 0.0705 142.4953);
  --secondary: oklch(0.3009 0.0984 140.7284);
  --secondary-foreground: oklch(0.7283 0.1934 149.5493);
  --muted: oklch(0.3009 0.0984 140.7284);
  --muted-foreground: oklch(0.4973 0.1032 152.7749);
  --accent: oklch(0.4145 0.1410 142.4953);
  --accent-foreground: oklch(0.7283 0.1934 149.5493);
  --destructive: oklch(0.5636 0.2313 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4145 0.1410 142.4953);
  --input: oklch(0.4145 0.1410 142.4953);
  --ring: oklch(0.7283 0.1934 149.5493);
  --chart-1: oklch(0.5894 0.1616 148.9701);
  --chart-2: oklch(0.3219 0.1095 142.4953);
  --chart-3: oklch(0.7283 0.1934 149.5493);
  --chart-4: oklch(0.4145 0.1410 142.4953);
  --chart-5: oklch(0.9846 0.0017 247.8389);
  --sidebar: oklch(0.2073 0.0705 142.4953);
  --sidebar-foreground: oklch(0.7283 0.1934 149.5493);
  --sidebar-primary: oklch(0.4145 0.1410 142.4953);
  --sidebar-primary-foreground: oklch(0.7283 0.1934 149.5493);
  --sidebar-accent: oklch(0.3009 0.0984 140.7284);
  --sidebar-accent-foreground: oklch(0.7283 0.1934 149.5493);
  --sidebar-border: oklch(0.4145 0.1410 142.4953);
  --sidebar-ring: oklch(0.7283 0.1934 149.5493);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
